.button {
  padding: 10px;
  font-size: 24px; /* Размер для плюса */
  border: none;
  cursor: pointer;
  border-radius: 50%; /* Округлая форма */
  width: 50px; /* Ширина кнопки */
  height: 50px; /* Высота кнопки */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  &.primary {
    background-color: #007BFF;
    color: white;

    &:hover {
      background-color: #0056b3;
    }
  }

  &.secondary {
    background-color: #6c757d;
    color: white;

    &:hover {
      background-color: #5a6268;
    }
  }

  .icon {
    font-size: 24px; /* Размер плюса */
    font-weight: bold;
    display: block;
  }
}
